@font-face {
    font-family: 'MyriadPro';
    src: url('../css/fonts/MyriadPro/MyriadPro-Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../css/fonts/MyriadPro/MyriadPro-Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../css/fonts/MyriadPro/MyriadPro-Bold.otf') format('opentype');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
body {
  font-size: 14px;
  font-family: 'MyriadPro', sans-serif;
  color: #000;
}
header {
  max-width: 1400px;
  min-width: 990px;
  margin: 0 auto;
}
header .top-head {
  position: fixed;
  top: 0;
  z-index: 10;
  max-width: 1400px;
  width: 100%;
}
header .top-head.fixed {
  background-color: #000;
}
header .top-head .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}
header .top-head .container .top-head-logo a {
  display: block;
}
header .top-head .container .top-head-left,
header .top-head .container .top-head-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 12px;
  color: #fff;
}
header .top-head .container .top-head-left {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
}
header .top-head .container .top-head-left > div {
  position: relative;
}
header .top-head .container .top-head-left > div::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  width: 1px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}
header .top-head .container .top-head-left .date-time {
  width: 150px;
  padding-left: 25px;
}
header .top-head .container .top-head-left .date-time > span {
  display: block;
}
header .top-head .container .top-head-left .weather,
header .top-head .container .top-head-left .curency {
  width: 185px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
header .top-head .container .top-head-left .weather > span {
  display: block;
}
header .top-head .container .top-head-left .weather .weather-icon {
  margin-right: 25px;
  position: relative;
  /*&:hover {
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 5;
                width: 50px;
                height: 50px;
                background-color: #99ff00;
              }
            }*/
}
header .top-head .container .top-head-left .weather .weather-icon img {
  position: relative;
  z-index: 10;
}
header .top-head .container .top-head-left .weather .temperature > span {
  display: block;
}
header .top-head .container .top-head-left .weather .temperature .celsius {
  font-size: 14px;
}
header .top-head .container .top-head-left .curency {
  font-size: 14px;
}
header .top-head .container .top-head-left .curency img {
  margin-right: 9px;
}
header .top-head .container .top-head-left .curency .euro {
  padding-right: 30px;
  position: relative;
}
header .top-head .container .top-head-right {
  margin-left: auto;
}
header .top-head .container .top-head-right > div {
  position: relative;
  z-index: 1;
  text-align: center;
}
header .top-head .container .top-head-right .search {
  padding-right: 15px;
}
header .top-head .container .top-head-right .search form {
  position: relative;
  /*&:hover, &:focus {
              #search {
                background-color: #fff;
                padding-left: 38px;
                padding-right: 12px;
                width: 350px;
              }
              .search-icon {
                background-position: -29px -0px;
              }

            }*/
}
header .top-head .container .top-head-right .search form.search-focus #search {
  background-color: #fff;
  padding-left: 38px;
  padding-right: 12px;
  width: 350px;
}
header .top-head .container .top-head-right .search form.search-focus .search-icon {
  background-position: -29px 0px;
}
header .top-head .container .top-head-right .search form #search {
  position: relative;
  height: 36px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-family: 'MyriadPro', sans-serif;
  background-color: transparent;
  width: 0;
  padding-right: 36px;
  /*&.search-focus {
                background-color: #fff;
                padding-left: 38px;
                padding-right: 12px;
                width: 350px;
              }*/
}
header .top-head .container .top-head-right .search form .search-icon {
  background: url("../images/search-sprite.png") no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  width: 25px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 10px;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
header .top-head .container .top-head-right .search form img {
  position: absolute;
  top: 50%;
  left: 6px;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
header .top-head .container .top-head-right .share {
  position: relative;
  padding-left: 12px;
  padding-right: 14px;
}
header .top-head .container .top-head-right .share a {
  display: block;
}
header .top-head .container .top-head-right .share::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  width: 1px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}
header .top-news {
  position: relative;
  overflow: hidden;
}
header .top-news::after,
header .top-news::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 3;
  left: 0;
}
header .top-news::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 10%, transparent);
  top: 0;
}
header .top-news::after {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 16%, transparent);
  bottom: 0;
}
header .top-news #top-news-slider li {
  position: relative;
  display: none;
  /*&.active-slide {
          display: block;
        }*/
}
header .top-news #top-news-slider li a {
  display: block;
  height: 400px;
  cursor: default;
}
header .top-news #top-news-slider li img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
header .top-news #top-news-slider li .slider-title {
  position: absolute;
  bottom: 20px;
  left: 100px;
  z-index: 4;
}
header .top-news #top-news-slider li .slider-title h2 {
  font-size: 36px;
  line-height: 40px;
  font-family: 'MyriadPro-Semibold', sans-serif;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  padding-bottom: 10px;
  margin-right: 480px;
}
header .top-news #top-news-slider li .slider-title .info > span {
  display: inline-block;
}
header .top-news #top-news-slider li .slider-title .info .info-event {
  color: rgba(204, 0, 0, 0.5);
  margin-right: 7px;
}
header .top-news #top-news-slider li .slider-title .info .info-date {
  color: rgba(255, 255, 255, 0.5);
}
header .top-news .slider-btn {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  background: url("../images/arrow-slider.png") no-repeat;
  background-position: -17px 0px;
  height: 30px;
  width: 3px;
  z-index: 4;
  left: 10px;
}
header .top-news .slider-btn:nth-of-type(1) {
  top: 105px;
}
header .top-news .slider-btn:nth-of-type(2) {
  top: 145px;
}
header .top-news .slider-btn:nth-of-type(3) {
  top: 185px;
}
header .top-news .slider-btn:nth-of-type(4) {
  top: 225px;
}
header .top-news .slider-btn:nth-of-type(5) {
  top: 265px;
}
header .top-news .slider-btn.act {
  background-position: 0px 0px;
  height: 30px;
  width: 13px;
}
header .top-menu {
  background-color: #edede6;
  border-bottom: 1px solid #e5e5df;
}
header .top-menu .top-menu-list {
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}
header .top-menu .top-menu-list > li > a {
  display: block;
  position: relative;
  z-index: 5;
  font-size: 16px;
  color: #000;
  line-height: 45px;
  height: 45px;
  padding: 0 10px;
  white-space: nowrap;
}
header .top-menu .top-menu-list > li > a:hover:not(.all-category) {
  color: #fff;
}
header .top-menu .top-menu-list > li > a:hover:not(.all-category)::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: block;
}
header .top-menu .top-menu-list > li .all-category {
  color: #bfbfb4;
  padding: 0 12px 0 18px;
  /*img {
            vertical-align: inherit;
            margin-right: 8px;
          }*/
}
header .top-menu .top-menu-list > li .all-category span {
  display: inline-block;
  background: url("../images/category-sprite.png") no-repeat;
  background-position: -18px 0;
  width: 14px;
  height: 12px;
  padding-right: 7px;
  box-sizing: content-box;
}
header .top-menu .top-menu-list > li:nth-child(1) a:hover::after {
  background-color: #99ff00;
}
header .top-menu .top-menu-list > li:nth-child(2) a:hover::after {
  background-color: #30b3bf;
}
header .top-menu .top-menu-list > li:nth-child(3) a:hover::after {
  background-color: #3640b3;
}
header .top-menu .top-menu-list > li:nth-child(4) a:hover::after {
  background-color: #d91616;
}
header .top-menu .top-menu-list > li:nth-child(5) a:hover::after {
  background-color: #cca266;
}
header .top-menu .top-menu-list > li:nth-child(6) a:hover::after {
  background-color: #73cc33;
}
header .top-menu .top-menu-list > li:nth-child(7) a:hover::after {
  background-color: #ba39e6;
}
header .top-menu .top-menu-list > li:nth-child(8) a:hover::after {
  background-color: #f2b6f2;
}
header .top-menu .top-menu-list > li:nth-child(9) a:hover::after {
  background-color: #f26522;
}
header .top-menu .top-menu-list > li:nth-child(10) a:hover::after {
  background-color: #f2b600;
}
header .top-menu .top-menu-list .category {
  position: relative;
}
header .top-menu .top-menu-list .category:hover .all-category {
  background-color: #bfbfb4;
  color: #fff;
}
header .top-menu .top-menu-list .category:hover .all-category span {
  background-position: 0 0;
}
header .top-menu .top-menu-list .category:hover .drop-down-category {
  display: block;
}
header .top-menu .top-menu-list .all-category:hover {
  background-color: #bfbfb4;
  color: #fff;
}
header .top-menu .top-menu-list .all-category:hover span {
  background-position: 0 0;
}
header .top-menu .top-menu-list .all-category:hover .drop-down-category {
  display: block;
}
header .top-menu .top-menu-list .drop-down-category {
  display: none;
  position: absolute;
  background-color: #edede6;
  padding: 12px 0;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px 0;
}
header .top-menu .top-menu-list .drop-down-category li a {
  display: block;
  padding: 6px 18px;
  height: inherit;
  line-height: inherit;
  color: #bfbfb4;
  white-space: nowrap;
  font-size: 16px;
}
header .top-menu .top-menu-list .drop-down-category li a:hover {
  color: #000;
}
/*===============
     main
===============*/
.common {
  max-width: 1400px;
  min-width: 990px;
  margin: 0 auto;
  position: relative;
}
.common .container {
  position: relative;
  width: 1250px;
  margin-left: 50px;
}
.common .container .main-news-wrap {
  padding-top: 30px;
  margin-right: 380px;
}
.common .container .main-news-wrap .news-tabs {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccccb8;
}
.common .container .main-news-wrap .news-tabs li:nth-child(1) {
  padding-right: 17px;
}
.common .container .main-news-wrap .news-tabs li:nth-child(2) {
  padding-right: 20px;
}
.common .container .main-news-wrap .news-tabs li a {
  color: #4c4c45;
  display: block;
  padding: 3px 0 11px;
}
.common .container .main-news-wrap .news-tabs li a.active {
  color: #cc0000;
  position: relative;
}
.common .container .main-news-wrap .news-tabs li a.active::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid transparent;
  border-bottom-color: #ccccb8;
  border-right-color: #ccccb8;
  background: #fff;
  -ms-transform: rotate(45deg) translate(-50%, 0);
      transform: rotate(45deg) translate(-50%, 0);
}
.common .container .main-news-wrap .news-wrap {
  padding-top: 10px;
  padding-bottom: 55px;
}
.common .container .main-news-wrap .news-wrap h1 {
  display: none;
}
.common .container .main-news-wrap .news-wrap .news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.common .container .main-news-wrap .news-wrap .news .post {
  margin-bottom: 25px;
}
.common .container .main-news-wrap .news-wrap .news .post a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 280px;
  height: 285px;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content {
  position: relative;
  margin-bottom: 13px;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content.post-content-video.video-modal::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content.post-content-video.video-modal .f-s-modal {
  position: absolute;
  background: url("../images/video-more-content.png") no-repeat;
  z-index: 10;
  width: 52px;
  height: 48px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content.post-content-video.video-modal .post-video-modal {
  display: block;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content.post-content-video .play-video {
  display: inline-block;
  background: url("../images/play-sprite.png") no-repeat;
  background-position: 0 0;
  height: 54px;
  width: 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  opacity: .75;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content.post-content-video .play-video:hover {
  opacity: 1;
  background-position: -56px 0;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content.post-content-video .f-s-video {
  display: inline-block;
  background: url("../images/video-more.png") no-repeat;
  height: 17px;
  width: 17px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content.post-content-video .post-video-modal {
  display: none;
  position: fixed;
  top: 50px;
  left: 16vw;
  z-index: 10;
  width: 362px;
  height: 200px;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px 0;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content.post-content-video .post-video-modal video {
  display: block;
  padding: 1px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content.post-content-video .post-video-modal .close-video {
  position: absolute;
  background: url("../images/close.png") no-repeat;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 8px;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-content img {
  max-width: 100%;
  display: block;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-title {
  font-size: 16px;
  color: #4c4c45;
  padding-bottom: 14px;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: auto;
  color: #bfbfbf;
  font-size: 12px;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info .tag-info {
  padding-right: 4px;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info .tag-info.tag-world {
  color: #028fbd;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info .tag-info.tag-ukraine {
  color: #ffd400;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info .tag-info.tag-glamor {
  color: #ba39e6;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info .tag-info.tag-money {
  color: #1bb367;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info .post-view {
  color: #e5e5e5;
  margin-left: auto;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info .post-view > span {
  padding-left: 19px;
  position: relative;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info .post-view .post-view-message {
  margin-right: 15px;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info .post-view .post-view-message::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  background: url("../images/message.png") no-repeat;
  width: 12px;
  height: 11px;
}
.common .container .main-news-wrap .news-wrap .news .post a .post-info .post-view .post-view-watch::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  background: url("../images/watch.png") no-repeat;
  width: 12px;
  height: 8px;
}
.common .container .main-news-wrap .news-wrap .photo-gallery {
  display: none;
  background-color: #000;
  color: #fff;
}
.common .container .main-news-wrap .news-wrap .photo-gallery .photo-gallery-wrap {
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 13px;
}
.common .container .main-news-wrap .news-wrap .photo-gallery .photo-gallery-wrap h2 {
  font-size: 18px;
  margin-bottom: 14px;
}
.common .container .main-news-wrap .news-wrap .photo-gallery .photo-gallery-wrap .gallery {
  column-count: 3;
  column-gap: 0;
}
.common .container .main-news-wrap .news-wrap .photo-gallery .photo-gallery-wrap .gallery .layout {
  break-inside: avoid;
  padding: 8px;
  position: relative;
}
.common .container .main-news-wrap .news-wrap .photo-gallery .photo-gallery-wrap .gallery .layout.l-col-2 {
  display: -ms-flexbox;
  display: flex;
}
.common .container .main-news-wrap .news-wrap .photo-gallery .photo-gallery-wrap .gallery .layout img {
  max-width: 100%;
  object-fit: cover;
}
.common .container .main-news-wrap .news-wrap .banner {
  width: 728px;
  height: 90px;
  position: relative;
  z-index: 3;
  background-color: #ccff33;
  box-shadow: #b27f7f 0 0 0 1px;
  margin: 19px auto;
  border-radius: 3px;
}
.common .container .main-news-wrap .news-wrap .banner p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.75) 0 5px 6px;
}
.common .container .main-news-wrap .news-wrap .banner img {
  max-width: 100%;
  border-radius: 3px;
}
.common .container .news-line {
  width: 330px;
  background: #f2f2eb;
  background: linear-gradient(-135deg, transparent 15px, #f2f2eb 0);
  padding: 15px 0 3px;
  border-bottom: 1px solid #e5e5df;
  position: absolute;
  right: 0;
  top: -241px;
  z-index: 4;
}
.common .container .news-line h2 {
  font-size: 24px;
  color: #33332e;
  font-family: 'MyriadPro-Semibold', sans-serif;
  margin: 0 20px;
  line-height: 32px;
}
.common .container .news-line .a-news {
  padding-bottom: 14px;
  border-bottom: 1px solid #e1e1d3;
  margin: 0 20px;
}
.common .container .news-line .a-news .a-news-title {
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.common .container .news-line .a-news .a-news-title a {
  color: #4c4c45;
}
.common .container .news-line .a-news .a-news-title.primary-title {
  font-family: 'MyriadPro-Semibold', sans-serif;
}
.common .container .news-line .a-news .a-news-title.primary-title a {
  color: #33332e;
}
.common .container .news-line .a-news .a-news-date {
  color: #bfbfac;
}
.common .container .news-line .a-news img {
  max-width: 100%;
  padding-top: 10px;
}
.common .container .news-line .news-line-banner {
  width: 300px;
  height: 250px;
  margin: 6px auto 10px;
}
.common .container .news-line .news-line-banner a {
  display: block;
}
.common .container .news-line .news-line-banner a img {
  display: block;
  max-width: 100%;
}
.common .container .news-line .news-line-more a {
  padding: 21px 0;
  color: #4c4c45;
  font-size: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.common .container .news-line .news-line-more a img {
  display: block;
  padding-left: 12px;
}
@media (max-width: 1399px) {
  .common .container .news-line {
    width: 330px;
  }
}
@media (max-width: 1280px) {
  .common .container .news-line {
    width: 300px;
    right: 30px;
  }
}
@media (max-width: 1399px) {
  .common .container .main-news-wrap .news-wrap .banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .common {
    padding-left: 50px;
  }
  .common .container {
    margin-left: 0;
    width: 1245px;
  }
}
@media (max-width: 1280px) {
  .common .container {
    width: 100%;
  }
  .common .container .main-news-wrap {
    margin-right: 370px;
  }
  .common .container .main-news-wrap .news-wrap .banner {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .common .container .main-news-wrap .news-wrap .news .post {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    display: -ms-flexbox;
    display: flex;
  }
  .common .container .main-news-wrap .news-wrap .news .post a {
    width: auto;
    height: auto;
  }
  .common .container .main-news-wrap .news-wrap .news .post a .post-content img {
    width: 100%;
  }
}
@media (max-width: 1152px) {
  header .top-news #top-news-slider li .slider-title h2 {
    margin-right: 360px;
  }
}
@media (max-width: 1024px) {
  .common .container .news-line .news-line-banner {
    display: none;
  }
}
/*============
    footer
============*/
footer {
  background-color: #000000;
}
footer .media-group-wrap {
  max-width: 1400px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
}
footer .media-group-wrap ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap row;
      flex-flow: wrap row;
  margin-bottom: 48px;
  padding: 0 100px;
}
footer .media-group-wrap ul a {
  display: block;
}
footer .media-group-wrap ul a img {
  display: block;
  max-width: 100%;
  opacity: .85;
}
footer .media-group-wrap ul a img:hover {
  opacity: 1;
}
footer .media-group-wrap .catchword {
  color: #fff;
  font-size: 48px;
  margin-bottom: 48px;
}
footer .media-group-wrap .copy {
  color: #333;
  position: relative;
  display: inline-block;
}
footer .media-group-wrap .copy::before,
footer .media-group-wrap .copy::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 1px;
  background-color: #333;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
footer .media-group-wrap .copy::before {
  left: -45px;
}
footer .media-group-wrap .copy::after {
  right: -45px;
}
.modal-share {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.modal-share .overlay {
  position: absolute;
  z-index: 8;
  top: 50px;
  bottom: 0;
  overflow: hidden;
  left: 50%;
  width: 640px;
  height: 475px;
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.modal-share .overlay img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 310px;
}
.modal-share .overlay > div {
  padding: 20px 28px;
}
.modal-share .overlay > div h3 {
  color: #000;
  font-size: 18px;
  padding-bottom: 5px;
}
.modal-share .overlay > div p {
  padding-bottom: 10px;
}
.modal-share .overlay > div a {
  display: inline-block;
  color: #ccc;
}
.modal-share .overlay .socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: auto;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
  padding: 12px 28px;
}
.modal-share .overlay .socials li {
  padding: 0 15px;
}
.modal-share .overlay .socials a {
  display: block;
  position: relative;
}
.modal-share .overlay .socials a span {
  display: block;
  background: url("../images/soc.png") no-repeat;
}
.modal-share .overlay .socials a span.vk {
  background-position: 1px -16px;
  height: 14px;
  width: 23px;
}
.modal-share .overlay .socials a span.vk:hover {
  background-position: 0 0;
}
.modal-share .overlay .socials a span.fb {
  background-position: -26px -25px;
  height: 21px;
  width: 13px;
}
.modal-share .overlay .socials a span.fb:hover {
  background-position: -27px 0;
}
.modal-share .overlay .socials a span.tw {
  background-position: -43px -19px;
  height: 16px;
  width: 20px;
}
.modal-share .overlay .socials a span.tw:hover {
  background-position: -44px 0;
}
.modal-share .overlay .socials a span.od {
  background-position: -67px -26px;
  height: 22px;
  width: 15px;
}
.modal-share .overlay .socials a span.od:hover {
  background-position: -68px 0;
}
.modal-share .overlay .socials a span.gp {
  background-position: -87px 1px;
  height: 18px;
  width: 27px;
}
.modal-share .overlay .socials a span.gp:hover {
  background-position: -88px -22px;
  height: 18px;
  width: 27px;
}
.modal-share .overlay .close {
  color: #fff;
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 10;
  background: url("../images/close.png") no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
header .top-head.overlay-fixed {
  z-index: 5;
  background: transparent;
}
.overlay-fixed .top-head-right {
  background-color: #edede6;
}
.overlay-fixed .top-head-right .search #search-form .search-icon {
  background-position: -29px 0;
}
.overlay-fixed .top-head-right .share .share-content {
  background: url("../images/share-scroll.png") no-repeat;
  width: 24px;
  height: 24px;
}
.overlay-fixed .top-head-right .share .share-content img {
  display: none;
}
.top-menu.top-menu-fixed {
  position: fixed;
  top: 0;
  z-index: 5;
  margin-left: 50px;
}
.top-menu.top-menu-fixed ul {
  padding-left: 0;
}
.top-menu.top-menu-fixed ul li a {
  line-height: 50px;
  height: 50px;
}
