@font-face {
    font-family: 'MyriadPro';
    src: url('../css/fonts/MyriadPro/MyriadPro-Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../css/fonts/MyriadPro/MyriadPro-Semibold.otf') format('opentype');
}
@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../css/fonts/MyriadPro/MyriadPro-Bold.otf') format('opentype');
}