@import (inline) 'fonts.css';
@import (inline) 'reset.css';



* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}

body {
  font-size: 14px;
  font-family: 'MyriadPro', sans-serif;
  color: #000;
}
header {
  max-width: 1400px;
  min-width: 990px;
  margin: 0 auto;
  .top-head {
    position: fixed;
    top: 0;
    z-index: 10;
    max-width: 1400px;
    width: 100%;
    &.fixed {
      background-color: #000;
    }
    .container {
      display: flex;
      flex-direction: row;
      .top-head-logo {
        a {
          display: block;
        }
      }
      .top-head-left, .top-head-right {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #fff;
      }
      .top-head-left {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: auto;
        & > div {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            width: 1px;
            height: 30px;
            background-color: rgba(255, 255, 255, .5);
          }
        }
        .date-time {
          width: 150px;
          padding-left: 25px;
          & > span {
            display: block;
          }
        }
        .weather, .curency {
          width: 185px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .weather {
          & > span {
            display: block;
          }
          .weather-icon {
            margin-right: 25px;
            position: relative;
            /*&:hover {
              &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 5;
                width: 50px;
                height: 50px;
                background-color: #99ff00;
              }
            }*/
            img {
              position: relative;
              z-index: 10;
            }
          }
          .temperature {
            & > span {
              display: block;
            }
            .celsius {
              font-size: 14px;
            }
          }
        }
        .curency {
          font-size: 14px;
          img {
            margin-right: 9px;
          }
          .euro {
            padding-right: 30px;
            position: relative;
          }
        }
      }
      .top-head-right {
        margin-left: auto;
        & > div {
          position: relative;
          z-index: 1;
          //width: 50px;
          text-align: center;
        }
        .search {
          padding-right: 15px;
          form {
            position: relative;
            &.search-focus {
              #search {
                background-color: #fff;
                padding-left: 38px;
                padding-right: 12px;
                width: 350px;
              }
              .search-icon {
                background-position: -29px -0px;
              }
            }
            /*&:hover, &:focus {
              #search {
                background-color: #fff;
                padding-left: 38px;
                padding-right: 12px;
                width: 350px;
              }
              .search-icon {
                background-position: -29px -0px;
              }

            }*/
            #search {
              position: relative;
              height: 36px;
              border: none;
              outline: none;
              border-radius: 7px;
              font-family: 'MyriadPro', sans-serif;
              background-color: transparent;
              width: 0;
              padding-right: 36px;
              /*&.search-focus {
                background-color: #fff;
                padding-left: 38px;
                padding-right: 12px;
                width: 350px;
              }*/
            }
            .search-icon {
              background: url("../images/search-sprite.png") no-repeat;
              background-position: -0px -0px;
              display: inline-block;
              width: 25px;
              height: 24px;
              position: absolute;
              top: 50%;
              left: 10px;
              transform: translate(0, -50%);
            }
            img {
              position: absolute;
              top: 50%;
              left: 6px;
              transform: translate(0, -50%);
            }
          }
        }
        .share {
          a {
            display: block;
          }
          position: relative;
          padding-left: 12px;
          padding-right: 14px;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 1px;
            height: 30px;
            background-color: rgba(255, 255, 255, .5);
          }
        }
      }
    } // container
  } // end top-head

  .top-news {
    position: relative;
    overflow: hidden;
    //height: 400px;
    &::after, &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100px;
      z-index: 3;
      left: 0;
    }
    &::before {
      background: linear-gradient(to bottom, rgba(0, 0, 0, .9) 10%, transparent);
      top: 0;
    }
    &::after {
      background: linear-gradient(to top, rgba(0, 0, 0, .5) 16%, transparent);
      bottom: 0;
    }
    #top-news-slider {
      li {
        position: relative;
        //height: 400px;
        display: none;
        /*&.active-slide {
          display: block;
        }*/
        a {
          display: block;
          height: 400px;
          cursor: default;
        }
        img {
          //max-height: 400px;
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
        .slider-title {
          position: absolute;
          bottom: 20px;
          left: 100px;
          z-index: 4;
          h2 {
            font-size: 36px;
            line-height: 40px;
            font-family: 'MyriadPro-Semibold', sans-serif;
            color: #fff;
            text-shadow: rgba(0, 0, 0, .75) 0 1px 0;
            padding-bottom: 10px;
            //max-width: 725px;
            margin-right: 480px;
          }
          .info {
            & > span {
              display: inline-block;
            }
            .info-event {
              color: rgba(204, 0, 0, .5);
              margin-right: 7px;
            }
            .info-date {
              color: rgba(255, 255, 255, .5);
            }
          }
        }
      }
    }
    .slider-btn {
      position: absolute;
      cursor: pointer;
      display: inline-block;
      background: url("../images/arrow-slider.png") no-repeat;
      background-position: -17px -0px;
      height: 30px;
      width: 3px;
      z-index: 4;
      left: 10px;
      &:nth-of-type(1) {
        top: 105px;
      }
      &:nth-of-type(2) {
        top: 145px;
      }
      &:nth-of-type(3) {
        top: 185px;
      }
      &:nth-of-type(4) {
        top: 225px;
      }
      &:nth-of-type(5) {
        top: 265px;
      }
      &.act {
        background-position: -0px -0px;
        height: 30px;
        width: 13px;
      }
    }
  } // end top-new

  .top-menu {
    background-color: #edede6;
    border-bottom: 1px solid #e5e5df;
    .top-menu-list {
      display: flex;
      padding-left: 50px;
      & > li {
        & > a {
          display: block;
          position: relative;
          z-index: 5;
          font-size: 16px;
          color: #000;
          line-height: 45px;
          height: 45px;
          padding: 0 10px;
          white-space: nowrap;
          &:hover:not(.all-category) {
            color: #fff;
            &::after {
              content: "";
              position: absolute;
              z-index: -1;
              width: 100%;
              top: 0;
              left: 0;
              right: 0;
              bottom: -1px;
              border-bottom: 1px solid rgba(0, 0, 0, .25);
              display: block;
            }
          }
        }
        .all-category {
          color: #bfbfb4;
          padding: 0 12px 0 18px;
          span {
            display: inline-block;
            background: url("../images/category-sprite.png") no-repeat;
            background-position: -18px 0;
            width: 14px;
            height: 12px;
            padding-right: 7px;
            box-sizing: content-box;
          }
          /*img {
            vertical-align: inherit;
            margin-right: 8px;
          }*/
        }
        &:nth-child(1) a:hover::after {
          background-color: #99ff00;
        }
        &:nth-child(2) a:hover::after {
          background-color: #30b3bf;
        }
        &:nth-child(3) a:hover::after {
          background-color: #3640b3;
        }
        &:nth-child(4) a:hover::after {
          background-color: #d91616;
        }
        &:nth-child(5) a:hover::after {
          background-color: #cca266;
        }
        &:nth-child(6) a:hover::after {
          background-color: #73cc33;
        }
        &:nth-child(7) a:hover::after {
          background-color: #ba39e6;
        }
        &:nth-child(8) a:hover::after {
          background-color: #f2b6f2;
        }
        &:nth-child(9) a:hover::after {
          background-color: #f26522;
        }
        &:nth-child(10) a:hover::after {
          background-color: #f2b600;
        }

      }
      .category {
        position: relative;
        &:hover {
          .all-category {
              background-color: #bfbfb4;
              color: #fff;
              span {
                background-position: 0 0;
              }
          }
          .drop-down-category {
            display: block;
          }
        }
      }
      .all-category {
        &:hover {
          background-color: #bfbfb4;
          color: #fff;
          span {
            background-position: 0 0;
          }
          .drop-down-category {
            display: block;
          }
        }
      }
      .drop-down-category {
        display: none;
        position: absolute;
        background-color: #edede6;
        padding: 12px 0;
        z-index: 5;
        box-shadow: rgba(0, 0, 0, .5) 0 10px 10px 0;
        li {
          a {
            display: block;
            padding: 6px 18px;
            height: inherit;
            line-height: inherit;
            color: #bfbfb4;
            white-space: nowrap;
            font-size: 16px;
            &:hover {
              color: #000;
            }
          }
        }
      } // end drop-down
    }
  } // end top-menu
} // end header

/*===============
     main
===============*/

.common {
  max-width: 1400px;
  min-width: 990px;
  margin: 0 auto;
  position: relative;
  .container {
    position: relative;
    //display: flex; // TODO: hide for photo-gallery
    width: 1250px;
    margin-left: 50px;
    .main-news-wrap {
      //width: 920px;
      padding-top: 30px;
      margin-right: 380px;
      .news-tabs {
        display: flex;
        margin-bottom: 20px;
        //margin-left: 50px;
        //margin-right: 50px;
        border-bottom: 1px solid #ccccb8;
        li {
          &:nth-child(1) {
            padding-right: 17px;
          }
          &:nth-child(2) {
            padding-right: 20px;
          }
          a {
            color: #4c4c45;
            display: block;
            padding: 3px 0 11px;
            &.active {
              color: #cc0000;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                bottom: -17px;
                left: 50%;
                width: 18px;
                height: 18px;
                border: 1px solid transparent;
                border-bottom-color: #ccccb8;
                border-right-color: #ccccb8;
                background: #fff;
                transform: rotate(45deg) translate(-50%, 0);
              }
            }
          }
        }
      } // end news-tabs
      .news-wrap {
        padding-top: 10px;
        padding-bottom: 55px;
        h1 {
          display: none;
        }
        .news {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          //padding-left: 50px;
          //padding-right: 50px;
          .post {
            margin-bottom: 25px;
            a {
              display: flex;
              flex-direction: column;
              width: 280px;
              height: 285px;
              .post-content {
                position: relative;
                margin-bottom: 13px;
                &.post-content-video {
                  &.video-modal {
                    &::before {
                      content: "";
                      position: absolute;
                      background-color: rgba(0,0,0,.8);
                      top: 0;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      z-index: 4;
                    }
                    .f-s-modal {
                      position: absolute;
                      background: url("../images/video-more-content.png") no-repeat;
                      z-index: 10;
                      width: 52px;
                      height: 48px;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                    }
                    .post-video-modal {
                      display: block;
                    }
                  }
                  .play-video {
                    display: inline-block;
                    background: url("../images/play-sprite.png") no-repeat;
                    background-position: 0 0;
                    height: 54px;
                    width: 52px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: .75;
                    &:hover {
                      opacity: 1;
                      background-position: -56px 0;
                    }
                  }
                  .f-s-video {
                    display: inline-block;
                    background: url("../images/video-more.png") no-repeat;
                    height: 17px;
                    width: 17px;
                    position: absolute;
                    bottom: 8px;
                    right: 8px;
                  }
                  .post-video-modal {
                    display: none;
                    position: fixed;
                    top: 50px;
                    left: 16vw;
                    z-index: 10;
                    width: 362px;
                    height: 200px;
                    background-color: #000;
                    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px 0;
                    video {
                      display: block;
                      padding: 1px;
                      max-width: 100%;
                      height: 100%;
                      margin: 0 auto;
                    }
                    .close-video {
                      position: absolute;
                      background: url("../images/close.png") no-repeat;
                      width: 20px;
                      height: 20px;
                      top: 10px;
                      right: 8px;
                    }
                  }
                } // end post-content-video
                img {
                  max-width: 100%;
                  display: block;
                }
              }
              .post-title {
                font-size: 16px;
                color: #4c4c45;
                padding-bottom: 14px;
              } // end post-title
              .post-info {
                display: flex;
                align-items: center;
                margin-top: auto;
                color: #bfbfbf;
                font-size: 12px;
                .tag-info {
                  padding-right: 4px;
                  &.tag-world {
                    color: #028fbd;
                  }
                  &.tag-ukraine {
                    color: #ffd400;
                  }
                  &.tag-glamor {
                    color: #ba39e6;
                  }
                  &.tag-money {
                    color: #1bb367;
                  }
                }
                .post-view {
                  color: #e5e5e5;
                  margin-left: auto;
                  & > span {
                    padding-left: 19px;
                    position: relative;
                  }
                  .post-view-message {
                    margin-right: 15px;
                    &::before {
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: 0;
                      transform: translate(0, -50%);
                      background: url("../images/message.png") no-repeat;
                      width: 12px;
                      height: 11px;
                    }
                  }
                  .post-view-watch {
                    &::before {
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: 0;
                      transform: translate(0, -50%);
                      background: url("../images/watch.png") no-repeat;
                      width: 12px;
                      height: 8px;
                    }
                  }
                }
              }
            }
          } // end post

        } //end news
        .photo-gallery {
          display: none; // TODO:
          background-color: #000;
          color: #fff;
          //padding: 0 50px;
          .photo-gallery-wrap {
            //width: 870px;
            margin: 0 auto;
            padding-top: 23px;
            padding-bottom: 13px;
            h2 {
              font-size: 18px;
              margin-bottom: 14px;
            }
            .gallery {
              column-count: 3;
              column-gap: 0;
              .layout {
                break-inside: avoid;
                padding: 8px;
                position: relative;
                &.l-col-1 {
                  //width: 340px;
                }
                &.l-col-2 {
                  display: flex;
                }
                img {
                  max-width: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        } // end photo-gallery
        .banner {
          width: 728px;
          height: 90px;
          position: relative;
          z-index: 3;
          background-color: #ccff33;
          //border: 1px solid #b27f7f;
          box-shadow: #b27f7f 0 0 0 1px;
          margin: 19px auto;
          border-radius: 3px;
          //overflow: hidden;
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            text-shadow: rgba(0, 0, 0, 0.75) 0 5px 6px;
          }
          img {
            max-width: 100%;
            border-radius: 3px;
          }
        } //end banner
      } // end news-wrap
    } // end main-news-wrap
    .news-line {
      width: 330px;
      background: #f2f2eb;
      background: linear-gradient(-135deg, transparent 15px, #f2f2eb 0);
      padding: 15px 0 3px;
      border-bottom: 1px solid #e5e5df;
      position: absolute;
      //left: 970px;
      right: 0;
      top: -241px;
      z-index: 4;
      h2 {
        font-size: 24px;
        color: #33332e;
        font-family: 'MyriadPro-Semibold', sans-serif;
        margin: 0 20px;
        line-height: 32px;
      }
      .a-news {
        padding-bottom: 14px;
        border-bottom: 1px solid #e1e1d3;
        margin: 0 20px;
        .a-news-title {
          font-size: 16px;
          padding-top: 14px;
          padding-bottom: 14px;
          a {
            color: #4c4c45;
          }
          &.primary-title {
            font-family: 'MyriadPro-Semibold', sans-serif;
            a {
              color: #33332e;
            }
          }
        }
        .a-news-date {
          color: #bfbfac;
        }
        img {
          max-width: 100%;
          padding-top: 10px;
        }
      } //end a-news
      .news-line-banner {
        width: 300px;
        height: 250px;
        margin: 6px auto 10px;
        a {
          display: block;
          img {
            display: block;
            max-width: 100%;
          }
        }
      }
      .news-line-more {
        a {
          padding: 21px 0;
          color: #4c4c45;
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            display: block;
            padding-left: 12px;
          }
        }
      }
    } // end aside
    @media (max-width: 1399px) {
      .news-line {
        width: 330px;
      }
    }
    @media (max-width: 1280px) {
      .news-line {
        width: 300px;
        right: 30px;
      }
    }
  }
} //end main.common

@media (max-width: 1399px) {
  .common .container .main-news-wrap .news-wrap .banner {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .common {
    padding-left: 50px;
    .container {
      margin-left: 0;
      width: 1245px;
    }
  }
}
@media (max-width: 1280px) {
  .common {
    .container {
      width: 100%;
      .main-news-wrap {
        margin-right: 370px;
      }
    }
  }
  .common .container .main-news-wrap .news-wrap .banner {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .common .container .main-news-wrap {
  .news-wrap {
    .news {
      .post {
        flex-basis: 48%;
        display: flex;
        a {
          width: auto;
          height: auto;
          .post-content {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  }
}
@media (max-width: 1152px) {
  header .top-news #top-news-slider li .slider-title {
    h2 {
      margin-right: 360px;
    }
  }
}
@media (max-width: 1024px) {
  .common .container .news-line .news-line-banner {
    display: none;
  }
}




/*============
    footer
============*/

footer {
  background-color: #000000;
  .media-group-wrap {
    max-width: 1400px;
    //min-width: 990px;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: wrap row;
      margin-bottom: 48px;
      padding: 0 100px;
      li {
        //padding: 0 10px;
      }
      a {
        display: block;
        img {
          display: block;
          max-width: 100%;
          opacity: .85;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .catchword {
      color: #fff;
      font-size: 48px;
      margin-bottom: 48px;
    }
    .copy {
      color: #333;
      position: relative;
      display: inline-block;
      &::before, &::after {
        content: "";
        position: absolute;
        width: 35px;
        height: 1px;
        background-color: #333;
        top: 50%;
        transform: translate(0, -50%);
      }
      &::before {
        left: -45px;
      }
      &::after {
        right: -45px;
      }
    }
  } // end media-group-wrap
} // end footer

.modal-share {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .95);
  user-select: none;
  .overlay {
    position: absolute;
    z-index: 8;
    top: 50px;
    bottom: 0;
    overflow: hidden;
    left: 50%;
    width: 640px;
    height: 475px;
    transform: translate(-50%, 0);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
      height: 310px;
    }
    & > div {
      padding: 20px 28px;
      h3 {
        color: #000;
        font-size: 18px;
        padding-bottom: 5px;
      }
      p {
        padding-bottom: 10px;
      }
      a {
        display: inline-block;
        color: #ccc;
      }
    }
    .socials {
      display: flex;
      align-items: center;
      margin-top: auto;
      border-top: 1px solid rgba(204, 204, 204, .5);
      padding: 12px 28px;
      li {
        padding: 0 15px;
      }
      a {
        display: block;
        position: relative;
        span {
          display: block;
          background: url("../images/soc.png") no-repeat;
          &.vk {
            background-position: 1px -16px;
            height: 14px;
            width: 23px;
            &:hover {
              background-position: 0 0;
            }
          }
          &.fb {
            background-position: -26px -25px;
            height: 21px;
            width: 13px;
            &:hover {
              background-position: -27px 0;
            }
          }
          &.tw {
            background-position: -43px -19px;
            height: 16px;
            width: 20px;
            &:hover{
              background-position: -44px 0;
            }
          }
          &.od {
            background-position: -67px -26px;
            height: 22px;
            width: 15px;
            &:hover {
              background-position: -68px 0;
            }
          }
          &.gp {
            background-position: -87px 1px;
            height: 18px;
            width: 27px;
            &:hover {
              background-position: -88px -22px;
              height: 18px;
              width: 27px;
            }
          }
        }
      }
    }
    .close {
      color: #fff;
      position: absolute;
      top: 13px;
      right: 13px;
      z-index: 10;
      background: url("../images/close.png") no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
  }
}
header .top-head.overlay-fixed {
  z-index: 5;
  background: transparent;
}
.overlay-fixed {
  .top-head-right {
    background-color: #edede6;
    .search {
      #search-form {
        .search-icon {
          background-position: -29px 0;
        }
      }
    }
    .share {
      .share-content {
        img {
          display: none;
        }
        background: url("../images/share-scroll.png") no-repeat;
        width: 24px;
        height: 24px;
      }
    }
  }
}
.top-menu.top-menu-fixed {
  position: fixed;
  top: 0;
  z-index: 5;
  margin-left: 50px;
  ul {
    padding-left: 0;
    li {
      a {
        line-height: 50px;
        height: 50px;
      }
    }
  }
}